/* 
    Text Color: rgb(82,120,186)


*/


/* 
    NATIVE TAGS
*/

html,body {
    height: 100%;
    margin: 0;
    font-family: 'Overpass Mono', monospace;
    color: rgb(82,120,186);
    font-size: 18px;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* 
    IDENTIFIERS
*/


#background {
    height: 100%;
    width: auto;
    background-image: url("../images/tetris-background.jpeg");
    background-size: cover;
}

#main-container {
    display: flex;
    justify-content: center;
}

#instructions {
    width: 275px;
    /* background-color: red; */
}

#game-canvas {
    background-color: rgb(117, 113, 113);
    border-radius: 5px;
}

#score-box {
    width: 275px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#info {
    flex-grow: 1;
    /* background-color: chartreuse; */
}

#next-piece {
    /* background-color: aqua; */
    height: 35%;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    padding: 10px;
}

/* 
    CLASSES
*/

.logo {
    width: 200px;
}

.content-container {
    margin: 10px;
    /* padding: 10px; */
    box-shadow: rgb(158, 157, 157) 0px 0px 40px;
    background-color: rgba(26,26,26, 0.8);
    border: 2px solid gray;
    border-radius: 5px
}

.key-img {
    width: 60px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.next-piece-img {
    width: 150px;
}