
/* 
    NATIVE TAGS
*/

html,body {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* 
    IDENTIFIERS
*/


#background {
    height: 100%;
    width: auto;
    background-image: url("../images/tetris-background.jpeg");
    background-size: cover;
}

/* 
    CLASSES
*/

.logo {
    width: 200px;
}